h1
{
    color: brown;
}

.divNome
{
    width: 20%;
    float: left;
}

.divAtaque
{
    width: 10%;
    float: left;
}

.divDano
{
    width: 10%;
    float: left;
}

.divDefesa
{
    width: 10%;
    float: left;
}

.divVida
{
    width: 10%;
    float: left;
}

.classCabecalho
{
    width: 100%;
    float: left;
}